# Python
*.pyc
*.pyo
*.pyd
*.sqlite3
venv/
.env/
.venv/
__pycache__/
**/__pycache__/

db.sqlite3
media/
staticfiles/
.env
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
.pytest_cache/
.coverage
htmlcov/


node_modules/

dist/
build/